.pxl-pagetitle, .pxl-pt-wrap{
    color: #fff;
	&.layout-df{
		padding-top: 125px;
		padding-bottom: 113px;
		@media (max-width: $sm_max){
			padding-top: 80px;
			padding-bottom: 80px;
		}
		.pxl-page-title-overlay{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.5);
		}
	}
	.main-title{
		color: #fff;
		letter-spacing: -0.025em;
		margin: 0 0 5px;
		text-transform: capitalize;
		@media (max-width: $sm_max){
			font-size: 50px;
			line-height: 1.1;
		}
	}
	.sub-title{
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin-top: 12px;
		@media (max-width: $sm_max){
			margin-bottom: 15px;
			font-size: 15px;
		}
	}
}
.pxl-breadcrumb{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
	padding: 11px 30px;
	background-color: rgba(255, 255, 255, 0.18);
	.br-item{
		flex: 0 0 auto;
		max-width: 100%;
		font-size: 14px;
		color: $primary_color;
		&:last-child{
			.br-divider{
				display: none!important;
			}
		}
	}
	.br-divider{
		padding: 0 15px;
		position: relative;
		color: #fff;
		font-size: 12px;
	}
	a{
		color: #fff;
		position: relative;
		&:hover{
			color: #fff;
		}
	}
	.br-item+.br-item::before{
		display: none;
	}
}