/* Pxl Grid */
.pxl-grid{
    .grid-filter-wrap{
        margin-bottom: 40px;
        .filter-item{
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
            color: $heading_color;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            margin-top: 10px;
            cursor: pointer;
            padding: 0 25px;
            position: relative;
            &:after{
                content: "";
                display: block;
                height: 2px;
                background-color: $primary_color;
                position: absolute;
                bottom: 0;
                left: 25px;
                right: 25px;
                transform: scaleX(0);
                transform-origin: left;
                @include transition( all .5s ease);
            }
            &.active, &:hover{
                &:after{
                    transform: scaleX(1);
                }
            }
        }
        &.start{
            .filter-item:first-child{
                padding-left: 0 !important;
                &:after{
                    left: 0 !important;
                }
            }
        }
        &.end{
            .filter-item:last-child{
                padding-right: 0 !important;
                &:after{
                    right: 0 !important;
                }
            }
        }
    }
    .grid-sizer {
        visibility: hidden;
        position: absolute;
        margin: 0 !important;
        padding: 0 !important;
    }
    .grid-item-inner {
        position: relative;
    }
    .item-featured .post-image > a {
        display: block;
    }
}
/* Pxl Post List */
.pxl-post-list{
    &.layout-post-list-1{
        .pxl-archive-post{
            margin-bottom: 0;
            padding-bottom: 0;
            border-color: transparent;
            &.format-link, &.format-quote{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .grid-item{
            .grid-item-inner{
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid $divider_color;
            }
            &:last-child{
                .grid-item-inner{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-color: transparent;
                }
                .format-link, .format-quote{
                    margin-bottom: 0 !important;
                }
            }
        }
        .item-featured .post-image{
            position: relative;
            margin: 20px 0;
            .post-date{
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.1em;
                color: #fff;
                background-color: $secondary_color;
                display: inline-block;
                padding: 7px 18px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .pxl-video-popup{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .video-play-button{
                    width: 48px;
                    height: 48px;
                    color: #fff;
                    &:after{
                        background-color: $secondary_color;
                    }
                    i{
                        font-size: 27px;
                    }
                    &:hover{
                        color: $secondary_color;
                        &:after{
                            background-color: #fff;
                        }
                    }
                }
            }
            .audio-play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                width: 48px;
                height: 48px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #fff;
                transition: all 400ms cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
                i {
                    position: relative;
                    z-index: 9;
                    color: inherit;
                    font-size: 22px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $secondary_color;
                    border-radius: 50%;
                    transition: all 400ms cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
                }
                &:hover{
                    color: $secondary_color;
                    &:after{
                        background-color: #fff;
                        transform: scale(1.2);
                    }
                }
            }
        }
        .item-title{
            font-size: 25px;
            line-height: 32px;
        }
        .item-excerpt{
            margin-bottom: 20px;
        }
    }
    &.layout-post-list-2{
        .grid-item{
            .grid-item-inner{
                padding-bottom: 41px;
                margin-bottom: 50px;
                border-bottom: 1px solid $divider_color;
            }
            &:last-child{
                .grid-item-inner{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-color: transparent;
                }
            }
        }
        .item-featured{
            margin-bottom: 30px;
            .post-image{
                position: relative;
                .post-date{
                    min-width: 110px;
                    background-color: $secondary_color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1;
                    letter-spacing: 0.05em;
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    text-align: center;
                    padding: 23px 20px 21px;
                    .day-month{
                        border-bottom: 1px solid $primary_color;
                        padding-bottom: 15px;
                        margin-bottom: 17px;
                    }
                    @media (max-width: $xs_max){
                        display: none;
                    }
                }
                .pxl-video-popup{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .video-play-button{
                        width: 88px;
                        height: 88px;
                        color: #fff;
                        &:after{
                            background-color: $secondary_color;
                        }
                        i{
                            font-size: 37px;
                        }
                        &:hover{
                            color: $secondary_color;
                            &:after{
                                background-color: #fff;
                            }
                        }
                        @media (max-width: $xs_max){
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .audio-play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    width: 88px;
                    height: 88px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: #fff;
                    transition: all 400ms cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
                    i {
                        position: relative;
                        z-index: 9;
                        color: inherit;
                        font-size: 28px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: $secondary_color;
                        border-radius: 50%;
                        transition: all 400ms cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
                    }
                    &:hover{
                        color: $secondary_color;
                        &:after{
                            background-color: #fff;
                            transform: scale(1.2);
                        }
                    }
                    @media (max-width: $xs_max){
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        .content-text{
            @media (min-width: $lg_min) {
                padding-right: 50px;
            }
        }
        .box-metas{
            .meta-inner{
                background-color: #{'rgba(var(--heading-color-rgb),0.06)'};
                padding: 25px 27px 30px;
                color: $heading_color;
                letter-spacing: 0.02em;
                line-height: 30px;
                margin-top: 10px;
                font-size: 15px;
                span:first-child{
                    margin-right: 5px;
                }
                span.post-category {
                    text-transform: lowercase;
                }
                .post-author{
                    margin-bottom: -7px;
                }
                .author-avatar{
                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-end;
                    img{
                        width: 43px;
                        height: auto;
                        border-radius: 50%;
                        margin-left: 10px;
                    }
                }
            }
        }
        .item-title{
            font-size: 35px;
            line-height: 45px;
            @media (max-width: $md_max){
                font-size: 25px;
                line-height: 32px;
            }
        }
        .item-readmore{
            .btn{
                i{
                    font-size: 18px;
                    margin-left: 9px;
                    position: relative;
                    z-index: 1;
                }
                &:hover{
                    i{
                        color: #fff;
                    }
                }
            }
        }
        .format-wrap{
            padding: 60px 50px 60px;
            background-color: $secondary_color;
            position: relative;
            @media (max-width: $xs_max){
                padding: 60px 20px 60px;
            }
            .format-inner{
                position: relative;
                padding-right: 30%;
                @media (max-width: $lg_max){
                    padding-right: 60px;
                }
            }
            .format-icon{
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                svg{
                    height: 46px;
                    width: auto;
                    fill: $primary_color;
                    transform: rotate(180deg);
                }
            }
            .format-text{
                font-family: $heading_font_family;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 0.02em;
                color: #fff;
                font-weight: bold;
            }
            .quote-cite{
                font-size: 14px;
                text-transform: uppercase;
                color: $primary_color;
                letter-spacing: 0.1em;
                display: block;
                margin-top: 12px;
            }
            .post-metas{
                padding-top: 8px;
                letter-spacing: 0.05em;
                color: $primary_color;
                .meta-inner > span{
                    padding: 5px 10px 5px 0;
                    margin-right: 10px;
                    &:after{
                        top: 49%;
                        height: 15px;
                        transform: translateY(-55%) rotate(30deg);
                        background-color: $primary_color;
                    }
                }
            }
            .fm-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: top right;
                background-repeat: no-repeat;
            }
        }
        .format-quote .fm-overlay{
            background-image: url(../../assets/images/quote-overlay.png);
        }
        .format-link .fm-overlay{
            background-image: url(../../assets/images/link-overlay.png);
        }
        .format-link .post-metas{
            padding-top: 30px;
        }
    }
}

/* Pxl Case Study List */
.pxl-case-study-list{
    &.layout-pxl-case-study-list-1{
        .grid-item{
            .grid-item-inner{
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid $divider_color;
            }
            &:last-child{
                .grid-item-inner{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-color: transparent;
                }
                .format-link, .format-quote{
                    margin-bottom: 0 !important;
                }
            }
        }
        .item-featured .post-image{
            position: relative;
            margin: 20px 0;
        }
        .post-metas{
            color: inherit;
            letter-spacing: 0.1em;
            margin-bottom: 5px;
            .post-tag{
                align-items: baseline;
                letter-spacing: 0.1em;
                display: contents;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 45px;
                    height: 2px;
                    background-color: $primary_color;
                    margin-right: 12px;
                }
            }
        }
        .item-title{
            font-size: 30px;
            margin-bottom: 20px;
        }
        .item-excerpt{
            margin-bottom: 27px;
        }
    }
}
/* Pxl Post Grid */
.pxl-post-grid{
    &.layout-post-1 {
        .grid-item{
            margin-bottom: 22px;
        }
        .grid-item-inner{
            padding: 15px;
            @include box-shadow(0 0 18px rgba(#00030d,0.05));
            @include transition();
            &:hover{
                @include box-shadow(0 20px 18px rgba(#00030d,0.06));
            }
        }
        .item-featured{
            @include border-radius(10px);
            overflow: hidden;
            a{
                display: block;
                position: relative;
                img{
                    @include transform(rotate(0deg) scale(1));
                    @include transition(transform 2s linear);
                }
                &:before{
                    position: absolute;
                    top: 0;
                    left: -100%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    -webkit-transform: skewX(50deg);
                    transform: skewX(50deg);
                }
                &:hover{
                    img{

                        @include transform(rotate(5deg) scale(1.2));
                        opacity: .9;
                    }
                    &:before{
                        -webkit-animation: shine .75s;
                        animation: shine .75s;
                    }
                }
            }
        }
        .item-content{
            padding: 15px 15px 27px 15px;
            @media (max-width: 375px){
                padding: 15px 0 20px 0;
            }
        }
        .item-post-meta{
            margin-top: 5px;
            font-size: 16px;
            color: $body_color;
            line-height: 24px;
            .avatar{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                display: inline-flex;
                @media (max-width: 375px){
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
            .pxl-icon{
                color: $secondary_color;
                margin-right: 5px;
                font-size: 14px;
                margin-top: -3px;
            }
            .meta-inner{
                margin-left: -8px;
                margin-right: -8px;
            }
            .meta-item{
                position: relative;
                padding-left: 8px;
                padding-right: 8px;
                @include d-flex();
                align-items: center;
                a{
                    color: inherit;
                    &:hover{
                        color: $link_color_hover;
                    }
                }
            }
        }
        .item-title{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 12px;
            margin-bottom: 0;
            @include text-truncate-multi-line(24px, 1.25, 2);
        }

        .item-excerpt{
            margin-top: 14px;
            font-size: 17px;
            line-height: 25px;
            color: #757474;
        }
        .item-readmore{
            margin-top: 20px;
        }
        .pxl-load-more{
            margin-top: 30px;
        }
    }
}

/* Pxl Case Study Grid */
.pxl-case-study-grid{
    .grid-filter-wrap{
        margin-bottom: 60px;
        .filter-item:after{
            transform-origin: center;
        }
    }
    &.layout-pxl-case-study-1{
        .grid-item-inner{
            .item-title{
                font-size: 25px;
                margin-bottom: 5px;
            }
            .item-content{
                border: 1px solid $divider_color;
                border-top: none;
                padding: 30px 30px 35px;
                transition: all 300ms linear 0s;
                text-align: center;
            }
            .item-excerpt{
                margin-top: 10px;
            }
            .item-readmore{
                margin-top: 20px;
                .btn-more{
                    color: $secondary_color;
                }
            }
        }
    }
    &.layout-pxl-case-study-2{
        .grid-item-inner{
            .item-title{
                font-size: 25px;
                color: #fff;
                margin-bottom: 10px;
            }
            .item-category{
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: #d9d9d9;
                position: relative;
                margin-bottom: 25px;
                padding-bottom: 25px;
                &:after{
                    content: "";
                    display: block;
                    width: 50px;
                    height: 1px;
                    background-color: $primary_color;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .item-content{
                padding: 20px 35px;
                transition: all 400ms ease 0s;
                @include d-flex();
                align-items: center;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                color: #d9d9d9;
                opacity: 0;
                visibility: hidden;
            }
            .item-excerpt{
                @media (max-width: $md_max) {
                    @include text-multi-line(16px, 1.625, 3);
                }
            }
            .item-readmore{
                margin-top: 42px;
                .btn-more{
                    color: $secondary_color;
                }
            }
            &:hover{
                .item-content{
                    opacity: 1;
                    visibility: visible;
                }
            }
            @media (max-width: $md_max) {
                .item-content{
                    padding: 30px 20px 20px;
                }
                .item-readmore{
                    margin-top: 32px;
                }
            }
            @media (max-width: $xs_max) {
                .item-excerpt{
                    display: none;
                }
            }
        }
    }
}

/* Pxl Practice Area Grid */
.pxl-practice-area-grid{
    .grid-filter-wrap{
        margin-bottom: 60px;
        .filter-item:after{
            transform-origin: center;
        }
    }
    &.layout-pxl-practice-area-1{
        .grid-item-inner{
            background-color: #fff;
            .item-title{
                font-size: 25px;
                margin-bottom: 10px;
            }
            .area-icon-wrap{
                width: 86px;
                height: 86px;
                @include d-inline-flex();
                align-items: center;
                justify-content: center;
                background-color: $secondary_color;
                color: #fff;
                @include border-radius(3px);
                margin-top: 13px;
                margin-bottom: 23px;
                transition: all 300ms ease 0s;
                img{
                    width: 50px;
                    height: auto;
                    transition: all 350ms linear 600ms;
                }
                i{
                    font-size: 50px;
                    transition: all 300ms linear 600ms;
                }
            }
            .item-content{
                padding: 35px 35px 30px;
                transition: all 300ms ease 0s;
                @include d-flex();
                align-items: center;
                text-align: center;
                position: relative;
                z-index: 1;
                border: 1px solid $divider_color;
            }
            .item-excerpt{
                transition: all 300ms ease 0s;
                @media (max-width: $md_max) {
                    @include text-multi-line(16px, 1.625, 3);
                }
            }
            .item-readmore{
                margin-top: 25px;
            }
            @media (max-width: $md_max) {
                .item-content{
                    padding: 35px 20px 50px;
                }
            }
            &:hover{
                .item-content{
                    border-color: transparent;
                    .area-icon-wrap{
                        background-color: $primary_color;
                        img, i{
                            @include animation(updown 500ms ease);
                            animation-delay: 200ms;
                        }
                    }
                    .item-title, .btn-more{
                        color: #fff;
                    }
                    .item-excerpt{
                        color: #d9d9d9;
                    }
                }
            }
        }
    }
    &.layout-pxl-practice-area-2{
        .grid-item-inner{
            .area-icon-wrap{
                width: 86px;
                height: 86px;
                @include d-inline-flex();
                align-items: center;
                justify-content: center;
                background-color: $primary_color;
                color: #fff;
                @include border-radius(1px);
                transition: all 300ms ease 0s;
                img{
                    width: 50px;
                    height: auto;
                    transition: all 350ms linear 0s;
                }
                i{
                    font-size: 50px;
                    transition: all 300ms linear 0s;
                }
                img, i{
                    position: relative;
                    z-index: 1;
                }
            }
            .item-featured{
                position: relative;
                overflow: hidden;
                a img{
                    transition: all 300ms ease 0s;
                    filter: grayscale(1);
                }
                .area-icon-wrap{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    &:after{
                        content: "";
                        display: block;
                        width: 100%;
                        position: absolute;
                        background-color: $secondary_color;
                        transition: all 300ms ease 0s;
                        top: 0;
                        left: 0;
                        height: 0;
                    }
                }
            }
            .item-title{
                font-size: 25px;
                margin-bottom: 10px;
                color: #fff;
            }
            .item-content{
                padding: 35px 35px 30px;
                transition: all 300ms ease 0s;
                @include d-flex();
                align-items: center;
                text-align: center;
                position: relative;
                z-index: 1;
                background-color: $secondary_color;
            }
            .item-excerpt{
                transition: all 300ms ease 0s;
                @media (max-width: $md_max) {
                    @include text-multi-line(16px, 1.625, 3);
                }
                color: #d9d9d9;
            }
            .item-readmore{
                margin-top: 25px;
            }
            @media (max-width: $md_max) {
                .item-content{
                    padding: 35px 20px 50px;
                }
            }
            &:hover{
                .item-featured a img{
                    filter: grayscale(0);
                }
                .item-content{
                    background-color: #fff;
                    @include box-shadow(0 5px 30px rgba(#000,0.12));
                }
                .area-icon-wrap:after{
                    height: 100%;
                }
                .item-title{
                    color: $heading_color;
                }
                .item-excerpt{
                    color: #6d6d6d;
                }
            }
        }
    }
}

/* Pxl Team Grid */
.pxl-team-grid.layout-1{
    .pxl-grid-inner{
        >.grid-item{
            margin-bottom: 63px;
        }
    }
    .item-inner{
        position: relative;
        .item-image{
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
            img{
                @include transition( all .4s ease );
                filter: grayscale(1);
            }
        }
        .item-social{
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            @include d-flex();
            z-index: 1;
            i{
                color: #fff;
                opacity: 0.55;
                transition: all 300ms ease 0s;
            }
            a{
                width: 42px;
                height: 42px;
                background-color: $secondary_color;
                font-size: 15px;
                color: #fff;
                text-align: center;
                position: relative;
                @include d-flex();
                align-items: center;
                justify-content: center;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                transition: all 300ms ease 0s;
                &:hover{
                    background-color: $primary_color;
                    i{
                       opacity: 1;
                    }
                }
            }
        }
    }
    .item-content{
        text-align: center;
        padding: 0 20px;
        .item-title{
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 8px;
            letter-spacing: 0.03em;
            a{
                color: inherit;
                &:hover{
                    color: $primary_color;
                }
            }
        }
        .item-position{
            color: #999999;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-top: 2px;
        }
        .item-description{
            margin-top: 10px;
        }
    }
    .item-phone{
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.05em;
        color: $heading_color;
        padding-top: 18px;
        border-top: 1px solid $divider_color;
        margin-top: 18px;
        i{
            font-size: 13px;
            position: relative;
            bottom: 2px;
            margin-right: 5px;
        }
    }
    .item-inner:hover{
        .item-image img{
            filter: grayscale(0);
        }
        .item-social a{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

/* Pxl Image Gallery */
.pxl-image-gallery.layout-1{
    .pxl-grid-inner {
        .grid-item {
            .item-inner {
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                }
                .up-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include d-inline-flex();
                    @include transition(all 300ms linear 70ms);
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                    a{
                        @include d-flex();
                        align-items: center;
                        justify-content: center;
                        width: 60px;
                        height: 60px;
                        @include border-radius(50%);
                        background-color: #fff;
                        color: $secondary_color;
                        i {
                            font-size: 22px;
                            @include transition(all .2s linear);
                        }
                        &:hover{
                            i{
                                transform: scale(1.12);
                            }
                        }
                    }
                }
                &:hover {
                    .up-icon {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .cross-hover{
                &:before{
                    @include clip-path(polygon(0 0, 100% 0%, 100% 100%));
                    background-color: rgba(#000,0.3);
                }
                &:after{
                    @include clip-path(polygon(0 0, 100% 100%, 0 100%));
                    background-color: rgba(#000,0.5);
                }
                &:hover{
                    &:before, &:after{
                        transform: scale(1);
                    }
                }
            }
        }
    }
}